* {
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aliceblue;
}

.custom-cursor{
  cursor: url('./assets/img/pointer.png') 10 10, auto;
}

.heading-typo {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}